/DebugAdapter/bin/
/DebugAdapter/obj/
/DebugAdapter/packages/
/GiderosPlayerRemote/bin/
/GiderosPlayerRemote/obj/
/GiderosPlayerRemoteTest/bin/
/GiderosPlayerRemoteTest/obj/
/debuggee/lua-source/Debug/
/debuggee/lua-source/Release/
/debuggee/lua-source/x64/Debug/
/debuggee/lua-source/x64/Release/

Extension/*.dll
Extension/*.exe

*.vsix
*.zip
*.VC.db
*.opendb
.vs
.tmp